@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.phone>i, .email>i{
    color: #FF5200;
}
.topbarmain{
    background-color: #f5f5f5;
}
.container{
    width: 1140px;
    /* border: 1px solid black; */
    padding-left:15px ;
    padding-right: 15px;
    margin: auto;
}
.email {
    width: 753px;
    float: left;
    padding: 14px 10px;
    border-left: 1px solid #ddd;
}

.phone {
    width: 210px;
    float: left;
    padding: 14px 10px;
    border-left: 1px solid #ddd;
}
.social {
    width: 135px;
    float: left;
    transition: 0.3s;
}
.topbarwrapper {
    overflow: hidden;
}
.social a {
    display: block;
    float: left;
    color: #2b2b2b;
    padding: 15px;
    border-right: 1px solid #ddd;
}
.social a:first-child{
    border-left: 1px solid #ddd;
}
.social a>i:hover{
    color: #FF5200;
}

.primarywrapper {
    width: 100%;
    overflow: hidden;
}

.logo {
    width: 150px;
    float: left;
    margin-top: 22px;
}

ul.mainmenu {
    list-style: none;
    float: right;

}

.menu {
    width: 990px;
    float: left;
}

ul.mainmenu li {
    float: left;
}

ul.mainmenu li a {
    text-decoration: none;
    padding:30px 15px;
    font-size:16px;
    text-transform: uppercase;
    font-family: oswald;
    display: block;
    color: #2b2b2b;
    font-weight: 500;

}
li#search a>i {
    font-size: 20px;
    margin-top: 5px;
}
li#search a>i:hover{
    color: #FF5200;
}